.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;

  margin-top: 10px;
}
.the_containner{
  display: flex;
  flex-direction: row;
}

.shimmer {
  width: 210px;
  height: 200px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  margin: 10px;
}

.big-shimmer {
  width: 80%;
  margin: auto;

  height: 200px;
 
}

.small-shimmer {
  width: 210px;
  height: 200px;
  border-radius: 8px;
  margin-top: 3rem;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
